{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<header>
    <a href="{% url 'login_register' %}" class="logo">NetWork</a>
    
    <nav class="nav-links">
        <a href="{% url 'login_register' %}" class="nav-link">Home</a>
        <a href="{% url 'my_profile' %}" class="nav-link">Profile</a>
        <a href="#" class="nav-link">Network</a>
        <div class="nav-dropdown">
            <a href="#" class="nav-link">Jobs</a>
            <div class="dropdown-content">
                <a href="{% url 'job_posting' %}" class="dropdown-item">Post a Job</a>
                <a href="{% url 'job_searching' %}" class="dropdown-item">Search Jobs</a>
            </div>
        </div>
        <a href="#" class="nav-link">Messages</a>
    </nav>

    <div class="toggle-theme">
        <input type="checkbox" id="darkToggle">
        <label for="darkToggle">Toggle Dark Mode</label>
    </div>
</header> 